*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #091921;
}
.kalkulator{
    position: relative;
    display: grid;
}
.kalkulator .value{
    grid-column: span 4;
    height: 80px;
    width: 240px;  
    text-align: right;   
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
}
.kalkulator span{
    display: grid;
    width: 60px;
    height: 60px;
    color: #fff;
    background-color: #0c2835;
    place-items: center;
    /* border: 1px solid rgba(0, 0, 0, 1); */
}

.kalkulator span:active{
    background-color: #74ff3b;
    color: #111;
}

.kalkulator span.clearr{
    grid-column: span 2;
    width: 120px;
    background-color: #ff304c;
}
.kalkulator span.bagi{
    color: #5fec66;
}
.kalkulator span.kali{
    color: #5fec66;
}
.kalkulator span.minus{
    color: #5fec66;
}

.kalkulator span.plus {
    grid-row: span 2;
    height: 120px;
    color: #5fec66;
}

.kalkulator span.equall {
    background-color: #5fec66;
}

@media only screen and (max-width: 500px) {
    .kalkulator .value{
        grid-column: span 4;
        height: 190px;
        width: 360px;  
        padding: 50px 30px 0px 0px ;
        font-size: 50px;
    }
    .kalkulator span{
        display: grid;
        width: 90px;
        height: 90px;
        color: #fff;
        background-color: #0c2835;
        place-items: center;
        /* border: 1px solid rgba(0, 0, 0, 1); */
    }

    body{
        min-height: 80vh;
    }
    .kalkulator span.clearr{
        grid-column: span 2;
        width: 180px;
        background-color: #ff304c;
    }
    .kalkulator span.plus {
        grid-row: span 2;
        height: 180px;
    }

}